				@font-face {
					font-family: 'invitajafont';
					src: url('/wp-content/uploads/useanyfont/2929InvitajaFont.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/2929InvitajaFont.woff') format('woff');
					font-weight: 400; font-style: normal; font-display: auto;
				}

				.invitajafont{font-family: 'invitajafont' !important;}

						@font-face {
					font-family: 'invitajafont';
					src: url('/wp-content/uploads/useanyfont/6250InvitajaFont.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/6250InvitajaFont.woff') format('woff');
					font-weight: 500; font-style: normal; font-display: auto;
				}

				.invitajafont{font-family: 'invitajafont' !important;}

						@font-face {
					font-family: 'invitajafont';
					src: url('/wp-content/uploads/useanyfont/3646InvitajaFont.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/3646InvitajaFont.woff') format('woff');
					font-weight: 700; font-style: normal; font-display: auto;
				}

				.invitajafont{font-family: 'invitajafont' !important;}

						@font-face {
					font-family: 'aston-script';
					src: url('/wp-content/uploads/useanyfont/1557Aston-Script.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/1557Aston-Script.woff') format('woff');
					  font-display: auto;
				}

				.aston-script{font-family: 'aston-script' !important;}

						@font-face {
					font-family: 'analogue';
					src: url('/wp-content/uploads/useanyfont/836Analogue.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/836Analogue.woff') format('woff');
					  font-display: auto;
				}

				.analogue{font-family: 'analogue' !important;}

						@font-face {
					font-family: 'creattion';
					src: url('/wp-content/uploads/useanyfont/1730Creattion.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/1730Creattion.woff') format('woff');
					  font-display: auto;
				}

				.creattion{font-family: 'creattion' !important;}

						@font-face {
					font-family: 'editors-light';
					src: url('/wp-content/uploads/useanyfont/3186Editors-Light.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/3186Editors-Light.woff') format('woff');
					  font-display: auto;
				}

				.editors-light{font-family: 'editors-light' !important;}

						@font-face {
					font-family: 'candlefish';
					src: url('/wp-content/uploads/useanyfont/6948Candlefish.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/6948Candlefish.woff') format('woff');
					  font-display: auto;
				}

				.candlefish{font-family: 'candlefish' !important;}

						@font-face {
					font-family: 'thesignature';
					src: url('/wp-content/uploads/useanyfont/2565Thesignature.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/2565Thesignature.woff') format('woff');
					  font-display: auto;
				}

				.thesignature{font-family: 'thesignature' !important;}

		